body {
    margin: 0;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
}

.sidebar {
    width: 220px;
    height: 100vh;
    background: rgba(0,20,40,0.9);
    backdrop-filter: blur(10px);
    position: fixed;
    padding-top: 40px;
    color: white;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    margin: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.1);
    text-align: center;
}

.sidebar a.active {
    background: #00e0ff;
    color: black;
}

.sidebar a:hover {
    background: rgba(0,200,255,0.5);
}

.content {
    margin-left: 260px;
    padding: 40px;
    color: white;
}

.form-glass {
    width: 600px;
    background: rgba(0,0,0,0.45);
    padding: 30px;
    border-radius: 25px;
    backdrop-filter: blur(12px);
}

.form-glass h1 {
    text-align: center;
    color: #00eaff;
}

.form-glass input {
    width: 100%;
    padding: 14px;
    margin-top: 12px;
    border-radius: 12px;
    border: none;
    background: rgba(255,255,255,0.2);
    color: white;
}

button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    background: #00eaff;
    border-radius: 12px;
    border: none;
    font-size: 18px;
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.result-card {
    width: 500px;
    padding: 30px;
    border-radius: 20px;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    text-align: center;
    color: white;
}

.good {
    font-size: 28px;
    color: #00ff88;
}

.bad {
    font-size: 28px;
    color: #ff4444;
}

.back-btn {
    color: white;
    display: inline-block;
    margin-top: 20px;
}
.history-table {
    width: 90%;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(8px);
    border-radius: 10px;
}

.history-table th, .history-table td {
    padding: 10px;
    text-align: center;
}
